<div class="map-container">
  <div style="margin: 10px;">
    <input type="text" id="domain-value" placeholder="enter domain name" />
    <input type="button" id="btn-lookup" value="Loop Up" />
    <input
      type="text"
      id="ip-address"
      readonly="readonly"
      style="border: 0px;"
    />
  </div>

  <div id="map"></div>
</div>